* {
	margin: 0px;
	padding: 0px;
}

/*样式清除*/


.heading {
	width: auto;
	height: 52px;
	padding-top: 20px;
	background: #24292e;
}

.heading_img img {
	border-radius: 30px;
	/*圆角边框，变成圆形的头像*/
	display: inline;
	/*在一行当中*/
	width: 35px;
	height: 35px;
	float: left;
	/*向左浮动*/
	margin-top: -5px;
	/*往上挪*/
	margin-left: 15px;
}

.heading_searchbox form {
	float: left;
	position: relative;
	margin-left: 15px;
}

.heading_searchbox input {
	width: 300px;
	height: 28px;
	outline: none;
	border: 1px solid #3F4448;
	/*边框*/
	border-radius: 3px;
	/*显得的不那么方，有点弧度的四个角*/
	background: #3F4448;
	color: #fff;
	text-indent: 7px;
	/*字符缩进*/
}

.heading_searchbox input:focus {
	/*点击时应该有的效果，我这里有的问题*/
	width: 400px;
	height: 28px;
	outline: none;
	background: #fff;
	border: 1px solid #e2e3e3;
}

.heading_searchbox img {
	/*右边我贴上去的小图标*/
	display: block;
	width: 34px;
	height: 27px;
	position: absolute;
	/*绝对定位*/
	top: 5px;
	/*绝对定位离顶部的距离*/
	left: 265px;
	/*绝对定位离左边的距离*/
	cursor: pointer;
	/*鼠标放上去会变成小手*/
}


.heading_navbar {
	width: 100%;
	height: 30px;
	position: relative;
}

.heading_navbar ul {
	list-style: none;
	/*去掉无序前的小点*/
	float: left;
	margin-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.heading_navbar li {
	float: left;
	/*垂直的导航栏可以变成水平的*/
	padding-left: 10px;
}

a {
	text-decoration: none;
	/*去a标签的下划线*/
	display: block;
	text-align: center;
	/*居中*/
}

.heading_navbar a {
	color: rgb(230, 237, 243);
	font-size: 18px;
}

.heading_navbar a:hover {
	color: darkgray;
	/*鼠标放上去时变成灰色的*/
}

.heading_right {
	position: absolute;
	right: 10px;
	top: 25px;
	width: 130px;
	height: 50px;
}

.heading_right img {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	cursor: pointer;
}

.heading_right_touxiang {
	border-radius: 30px;
}



.body_right {
	float: right;
	width: 100%;
	height: 100%;
	position: relative;
	background: rgb(13, 17, 23);
	box-sizing: border-box;
	padding: 40px;
	display: flex;
}



.body_right .content {
	display: inline-block;
	border: 3px solid #7bafea;
	width: 72%;
	padding: 40px;

}

.content * {
	margin-bottom: 20px;
	color-scheme: dark;
	overflow-wrap: break-word;
	color: rgb(230, 237, 243);
}

.body_right .content {
	text-indent: 2em;
	color: rgb(230, 237, 243);
}

.body_right .content h1 {
	/* width: 1120px; */
	height: 50px;
	border-bottom: 2px solid #244675;
	font-size: 32px;
	font-weight: 800;
	color-scheme: dark;
	color: rgb(230, 237, 243);
}

.content p {
	font-size: 16px;
	color: rgb(230, 237, 243);
	padding-left: 28px;
	padding-right: 40px;
}

.content a {
	display: inline;
	color: rgb(47, 129, 247);
	text-decoration: none;
    font-size: 1.1em;
}

.content a:hover {
	color: #0366d6;
	text-decoration: underline;
}

.content ul{
	padding: 0 60px;
}

.content ol{
	padding: 0 60px;
}

.content strong {
	padding: 0 3px;
    color: rgb(192, 124, 113);
}

.content table{
    width: 100%;
}

.content table, th, td {
	border: 2px solid #7987b7;
	border-collapse: collapse;
    text-align: center;
}

.content td, th {
	padding: 15px;
}

.content h2 {
	margin-bottom: 16px;
	border-bottom: 1px dashed #cdda91;
	padding-bottom: 7.2px;
    margin-top: 10px;
}

.content .pp {
	padding-left: 5px;
	border-left: 4px solid #1d2228;
	color: #586080;
}

.content .pp strong {
	color: #586080;
}

.about {
	display: inline-block;
	height: 100%;
	width: 28%;
	margin-left: 20px;
	padding: 20px;
	border: #6a9785 solid 3px;
	color: rgb(230, 237, 243);
	line-height: 1.5em;

}

.about h2 {
	color: rgb(230, 237, 243);
	text-align: center;
    margin-bottom: 20px;

}
.about p{
	font-size: 16px;
	color: rgb(230, 237, 243);
	padding-left: 10px;
	padding-right: 20px;
	text-indent: 2em;
}

.about ul {
	padding: 0 60px;
}

.about strong {
	padding: 0 3px;
    color: rgb(192, 124, 113);
}

.about ol{
    padding-left: 30px;
}

.about li{
    margin-top: 10px;
}


.about a{
    display: inline-block;
}